@tailwind base;
@tailwind components;
@tailwind utilities;

.main-grid {
  display: grid;
  grid-template-rows: 100dvh auto;
  grid-template-areas: "hero";
}
.grid-hero {
  grid-area: hero;
}
.section-grid {
  display: grid;
  grid-template-rows: 100vh 100dvh; /*change it into 70vh 100dvh */
  grid-template-areas:
    "about"
    "footer";
}
.grid-about {
  grid-area: about;
}
.grid-footer {
  grid-area: footer;
}
